@import '../../styles/colors';

.skills {
  background-color: $clear-blue;
  height: 100vh;

  h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
  }

  .categories {
    display: flex;
    justify-content: center;
    gap: 40px;

    .category {
      h3 {
        text-align: center;
        color: $light-blue;
      }

      .skillsList {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        max-width: 55%;
        margin: 0 auto;
      }
    }
  }
  
}
